<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="PyCon India, the premier conference in India on using and developing the Python programming language is conducted annually by the Python developer community and it attracts the best Python programmers from across the country and abroad.">
    <meta name="keywords" content="PyCon India, PyCon, Conference" />
    <title>{% block pagetitle %} PyCon India 2019 in Chennai{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700|Roboto:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link href="/blog/theme/css/styles.css" rel="stylesheet">
  </head>
<body>

  <main>
    <div class="navbar">
      <a rel="noopener" href="/">Home</a>
      <a rel="noopener" href="sponsorship-prospectus.html">Sponsorship Prospectus</a>
      <a rel="noopener" href="cfp.html">CFP</a>
      <a rel="noopener" href="code-of-conduct.html">Code Of Conduct</a>
      <a rel="noopener" href="https://twitter.com/pyconindia" target="_blank">Twitter</a>
      <a rel="noopener" href="https://goo.gl/forms/GdtTebWL7mn3oKtW2" target="_blank">Subscribe</a>
    </div>
    <div class="content blog">
      {% block body %}
      {% endblock %}
    </div>
    <div class="footer">
      Copyright © 2019 PyCon India
    </div>
  </main>
</body>
</html>
